<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Ethan's World of Learning!</h1>
    <p>This learning tools is for kids from two to five years old. The children will click on the letter they want to learn about and images will demonstrate the letter they have chosen.  The parent will Sign-In or Sign-Up for the children to start learning with the Ethan's World of Learning Application!</p>
  </div>
</div>

</body>

