<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Ethan's World of Learning!</h1>
    <p>This learning tools is for kids from two to five years old. The children will click on the letter they want to learn about and images will demonstrate the letter they have chosen.  The parent will Sign-In or Sign-Up for the children to start learning with the Ethan's World of Learning Application!</p>
  </div>
</div>

<script>

var ul;
var li_items;
var li_number;
var image_number = 0;
var slider_width = 0;
var image_width;
var current = 0;
function init(){
  ul = document.getElementById('image_slider');
  li_items = ul.children;
  li_number = li_items.length;
  for (i = 0; i < li_number; i++){
    // nodeType == 1 means the node is an element.
    // in this way it's a cross-browser way.
    //if (li_items[i].nodeType == 1){
      //clietWidth and width???
      image_width = li_items[i].childNodes[0].clientWidth;
      slider_width += image_width;
      image_number++;
  }

  ul.style.width = parseInt(slider_width) + 'px';
  slider(ul);
}

function slider(){
    animate({
      delay:17,
      duration: 3000,
      delta:function(p){return Math.max(0, -1 + 2 * p)},
      step:function(delta){
          ul.style.left = '-' + parseInt(current * image_width + delta * image_width) + 'px';
        },
      callback:function(){
        current++;
        if(current < li_number-1){
          slider();
        }
        else{
          var left = (li_number - 1) * image_width;
          setTimeout(function(){goBack(left)},2000);
          setTimeout(slider, 4000);
        }
      }
    });
}
function goBack(left_limits){
  current = 0;
  setInterval(function(){
    if(left_limits >= 0){
      ul.style.left = '-' + parseInt(left_limits) + 'px';
      left_limits -= image_width / 10;
    }
  }, 17);
}
function animate(opts){
  var start = new Date;
  var id = setInterval(function(){
    var timePassed = new Date - start;
    var progress = timePassed / opts.duration
    if(progress > 1){
      progress = 1;
    }
    var delta = opts.delta(progress);
    opts.step(delta);
    if (progress == 1){
      clearInterval(id);
      opts.callback();
    }
  }, opts.dalay || 17);
}
window.onload = init;
</script>

<!-- <h3>Basic Image Slider with pure JavaScript, no jquery</h3>
    <p>Note: the pictures using here are from the internet:</p>
    <p>http://tympanus.net/codrops/2011/01/03/parallax-slider/</p> -->
    <div class="container">
      <div class="image-slider-wrapper image_slider_format">
        <ul id="image_slider">
      <!--     <li><img src="https://dl.dropboxusercontent.com/u/65639888/image/1.jpg"></li>
          <li><img src="https://dl.dropboxusercontent.com/u/65639888/image/4.jpg"></li>
          <li><img src="https://dl.dropboxusercontent.com/u/65639888/image/5.jpg"></li>
          <li><img src="https://dl.dropboxusercontent.com/u/65639888/image/1.jpg"></li>
          <li><img src="https://dl.dropboxusercontent.com/u/65639888/image/4.jpg"></li>
          <li><img src="https://dl.dropboxusercontent.com/u/65639888/image/5.jpg"></li>
          <li><img src="https://dl.dropboxusercontent.com/u/65639888/image/1.jpg"></li> -->
          <li><a href="/letters"><img src="letter_a.gif" width="300" height="380"></a></li>
          <li><a href="/letterb"><img src="letter_b.gif" width="300" height="380"></a></li>
          <li><img src="letter_c.gif" width="300" height="380"></li>
          <li><img src="letter_d.gif" width="300" height="380"></li>
          <li><img src="letter_e.gif" width="300" height="380"></li>

        </ul>
        <div class="pager">
        </div>
      </div>
    </div>

<br>
<br>

<div class="background">
<div class="xbox">
<p>This is an example of text placed within the transparent box so you can see the effect.  This is an example of text placed within the transparent box so you can see the effect. </p>
</div>
</div>



<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p id="notice"><%= notice %></p> -->

<!--

<h1 class='car-maintenance-title'>Car Maintenance Tips</h1>
  <div>
    <% @welcomes.each do |welcome| %>
      <h3><%= welcome.title %></h3>
        <% if welcome.image.present? %>
          <p class='image-format'><%= image_tag(welcome.image)%></p>
        <% end %>
      <p><%= welcome.description %></p>
    <% end %><br><br><br>
  </div> -->

 <!--    <br> -->
<!-- </body>
 -->
<!--
</html> -->
