<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="Image-Slider-LnR.js"></script>
    <link rel="stylesheet" type="text/css" href="Image-Slider-LnR.css">
  </head>

<!--      <div class="slide">
      <a href="/letters/lettera"><img src="http://www.kidzone.ws/kindergarten/vowels/s/a.gif" width="450" height="300" alt="" /></a>
      <p class="caption">LETTER A</p>
    </div> -->

  <body>
    <div class="container">
      <div class="slider_wrapper">
        <ul id="image_slider">
          <li><img src="http://www.kidzone.ws/kindergarten/vowels/s/a.gif" width="300" height="380" /></li>
          <li><img src="http://www.kidzone.ws/images-changed/kindergarten/b.gif" width="300" height="380" /></li>
          <li><img src="http://www.kidzone.ws/images-changed/kindergarten/c.gif" width="300" height="380" /></li>
          <li><img src="http://www.kidzone.ws/images-changed/kindergarten/d.gif" width="300" height="380" /></li>
          <li><img src="http://www.kidzone.ws/kindergarten/vowels/s/e.gif" width="300" height="380" /></li>
          <li><a href="/letters/letterf" target="_blank"><img src="http://www.kidzone.ws/images-changed/kindergarten/f.gif" width="300" height="380" /></a></li>
          <li><a href="/letters/letterg"><img src="http://www.kidzone.ws/images-changed/kindergarten/g.gif" width="300" height="380" /></a></li>


        </ul>
        <span class="nvgt" id="prev"></span>
        <span class="nvgt" id="next"></span>
      </div>
    </div>

<!--
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>

<script type="text/javascript">

var ul;
var li_items;
var li_number;
var image_number = 0;
var slider_width = 0;
var image_width;
var current = 0;

function init(){
  ul = document.getElementById('image_slider');
  li_items = ul.children;
  li_number = li_items.length;
  for (i = 0; i < li_number; i++){
    // nodeType == 1 means the node is an element.
    // in this way it's a cross-browser way.
    //if (li_items[i].nodeType == 1){
      //clietWidth and width???
      image_width = li_items[i].childNodes[0].clientWidth;
      slider_width += image_width;
      image_number++;
  }

  ul.style.width = parseInt(slider_width) + 'px';
  slider(ul);
}

function slider(){
    animate({
      delay:17,
      duration: 5000,
      delta:function(p){return Math.max(0, -1 + 2 * p)},
      step:function(delta){
          ul.style.left = '-' + parseInt(current * image_width + delta * image_width) + 'px';
        },
      callback:function(){
        current++;
        if(current < li_number-1){
          slider();
        }
        else{
          var left = (li_number - 1) * image_width;
          setTimeout(function(){goBack(left)},2000);
          setTimeout(slider, 4000);
        }
      }
    });
}
function goBack(left_limits){
  current = 0;
  setInterval(function(){
    if(left_limits >= 0){
      ul.style.left = '-' + parseInt(left_limits) + 'px';
      left_limits -= image_width / 10;
    }
  }, 17);
}
function animate(opts){
  var start = new Date;
  var id = setInterval(function(){
    var timePassed = new Date - start;
    var progress = timePassed / opts.duration
    if(progress > 1){
      progress = 1;
    }
    var delta = opts.delta(progress);
    opts.step(delta);
    if (progress == 1){
      clearInterval(id);
      opts.callback();
    }
  }, opts.dalay || 17);
}
window.onload = init;
</script>

    <div class="container">
      <div class="image-slider-wrapper image_slider_format">
        <ul id="image_slider">
          <li><img src="http://www.kidzone.ws/kindergarten/vowels/s/a.gif" width="300" height="380" /></li>
          <li><img src="http://www.kidzone.ws/images-changed/kindergarten/b.gif" width="300" height="380" /></li>
          <li><img src="http://www.kidzone.ws/images-changed/kindergarten/c.gif" width="300" height="380" /></li>
          <li><img src="http://www.kidzone.ws/images-changed/kindergarten/d.gif" width="300" height="380" /></li>
          <li><img src="http://www.kidzone.ws/kindergarten/vowels/s/e.gif" width="300" height="380" /></li>
        </ul>
      <div class="pager">
    </div>
      </div>
    </div>

<!-- <div class="background">
<div class="xbox">
<p>This is an example of text placed within the transparent box so you can see the effect.  This is an example of text placed within the transparent box so you can see the effect. </p>
</div>
</div> -->



<div id="slider">
  <div id="slider-wrapper">
    <div class="slide">
      <a href="/letters/lettera"><img src="http://www.kidzone.ws/kindergarten/vowels/s/a.gif" width="450" height="300" alt="" /></a>
      <p class="caption">LETTER A</p>
    </div>
    <div class="slide">
      <a href="/letters/letterb"><img src="http://www.kidzone.ws/images-changed/kindergarten/b.gif" width="450" height="300" alt="" /></a>
      <p class="caption">LETTER B</p>
    </div>
      <div class="slide">
      <a href="/letters/letterc"><img src="http://www.kidzone.ws/images-changed/kindergarten/c.gif" width="450" height="300" alt="" /></a>
      <p class="caption">LETTER C</p>
    </div>
      <div class="slide">
      <a href="/letters/letterd"><img src="http://www.kidzone.ws/images-changed/kindergarten/d.gif" width="450" height="300" alt="" /></a>
      <p class="caption">LETTER D</p>
    </div>
    <div class="slide">
      <a href="/letters/lettere"><img src="http://www.kidzone.ws/kindergarten/vowels/s/e.gif" width="450" height="300" alt="" /></a>
      <p class="caption">LETTER E</p>
    </div>
  </div>

  <div id="slider-nav">
    <a href="#" data-slide="0">A</a>
    <a href="#" data-slide="1">B</a>
    <a href="#" data-slide="2">C</a>
    <a href="#" data-slide="3">D</a>
    <a href="#" data-slide="4">E</a>
    <a href="#" data-slide="5">F</a>
  </div>
</div>

</body>
</html>

