<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="Image-Slider-LnR.js"></script>
    <link rel="stylesheet" type="text/css" href="Image-Slider-LnR.css">
  </head>

  <body>

  <br>
  <br>
  <br>

    <div class="container">
      <div class="slider_wrapper">
        <ul id="image_slider">
          <a href="/letters/lettera/"><li><img src="http://www.kidzone.ws/kindergarten/vowels/s/a.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterb/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/b.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterc/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/c.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterd/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/d.gif" width="300" height="380" /></li></a>
          <a href="/letters/lettere/"><li><img src="http://www.kidzone.ws/kindergarten/vowels/s/e.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterf/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/f.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterg/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/g.gif" width="300" height="380" /></li></a>
        </ul>
        <span class="nvgt" id="prev"></span>
        <span class="nvgt" id="next"></span>
      </div>
    </div>

<div>
  <div id="slider">
    <div id="slider-wrapper">
      <div class="slide">
        <a href="/letters/lettera"><img src="http://www.kidzone.ws/kindergarten/vowels/s/a.gif" width="450" height="300" alt="" /></a>
        <p class="caption">LETTER A</p>
      </div>
      <div class="slide">
        <a href="/letters/letterb"><img src="http://www.kidzone.ws/images-changed/kindergarten/b.gif" width="450" height="300" alt="" /></a>
        <p class="caption">LETTER B</p>
      </div>
      <div class="slide">
        <a href="/letters/letterc"><img src="http://www.kidzone.ws/images-changed/kindergarten/c.gif" width="450" height="300" alt="" /></a>
        <p class="caption">LETTER C</p>
      </div>
      <div class="slide">
        <a href="/letters/letterd"><img src="http://www.kidzone.ws/images-changed/kindergarten/d.gif" width="450" height="300" alt="" /></a>
        <p class="caption">LETTER D</p>
      </div>
      <div class="slide">
        <a href="/letters/lettere"><img src="http://www.kidzone.ws/kindergarten/vowels/s/e.gif" width="450" height="300" alt="" /></a>
        <p class="caption">LETTER E</p>
      </div>
      <div class="slide">
        <a href="/letters/letterf"><img src="http://www.kidzone.ws/images-changed/kindergarten/f.gif" width="450" height="300" alt="" /></a>
        <p class="caption">LETTER F</p>
      </div>
      <div class="slide">
        <a href="/letters/letterg"><img src="http://www.kidzone.ws/images-changed/kindergarten/g.gif" width="450" height="300" alt="" /></a>
        <p class="caption">LETTER G</p>
      </div>
    </div>

    <div id="slider-nav">
      <a href="#" data-slide="0">A</a>
      <a href="#" data-slide="1">B</a>
      <a href="#" data-slide="2">C</a>
      <a href="#" data-slide="3">D</a>
      <a href="#" data-slide="4">E</a>
      <a href="#" data-slide="5">F</a>
      <a href="#" data-slide="6">G</a>
    </div>
  </div>
</div>

</body>
</html>




<!-- <div class="background">
<div class="xbox">
<p>This is an example of text placed within the transparent box so you can see the effect.  This is an example of text placed within the transparent box so you can see the effect. </p>
</div>
</div> -->

