<br>
<br>

<div class="link-format"><%= link_to 'Back to Letters', letters_path %></div>

<div class="image-format"><img width="700" height="550" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQG1tqtBfVQL-YZpdXyNOI8tHXI9-nr85lVl6YrKhpDLEU8aKag1w
" /></div>

<br>
<br>
<br>



