<br>
<br>

<div class="image-format">
  <img width="650" height="600" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR_001CChj6geEJdgiRRQwhtVeSABIi9yJWgJ_17aflYkY2EUtu
" />
</div>



<%= link_to 'Back to Letters', letters_path %>

<br>
<br>
<br>
