<br>
<br>

<div class="link-format"><%= link_to 'Back to Letters', letters_path %></div>

<div class="image-format"><img width="700" height="550" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTV2nGKGGWEPUCEagsgEekklKkfy1QNCfrKL5fA8HWlycwd5qcL
" /></div>

<br>
<br>
<br>

