  <br>
  <br>
  <br>

    <div class="container">
      <div class="slider_wrapper">
        <ul id="image_slider">
          <a href="/letters/lettero/"><li><img src="http://www.kidzone.ws/kindergarten/vowels/s/o.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterp/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/p.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterq/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/q.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterr/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/r.gif" width="300" height="380" /></li></a>
          <a href="/letters/letters/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/s.gif" width="300" height="380" /></li></a>
          <a href="/letters/lettert/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/t.gif" width="300" height="380" /></li></a>
          <a href="/letters/lettert/"><li><img src="http://www.kidzone.ws/kindergarten/vowels/s/u.gif" width="300" height="380" /></li></a>
        </ul>
        <span class="nvgt" id="prev"></span>
        <span class="nvgt" id="next"></span>
      </div>
    </div>
