<br>
<br>

<div class="link-format"><%= link_to 'Back to Letters', letters_path %></div>

<div class="image-format"><img width="700" height="550" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSQKXE24l85oMnRX0t3WcE3xqA4EFE9FxmcCdo7-yagGicl1cAKLw
" /></div>

<br>
<br>
<br>


