<br>
<br>

<div class="image-format">
  <img width="650" height="600" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7WAKV-eAeImo8jJoyg8qLKkksJ5_5KkDcKaZeqJrruC7iHR-WDg" />
</div>

<%= link_to 'Back to Letters', letters_path %>

<br>
<br>
<br>
