<br>
<br>

<div class="link-format"><%= link_to 'Back to Letters', letters_path %></div>

<div class="image-format"><img width="700" height="550" src="http://i.ytimg.com/vi/yqMgRJzRJ40/maxresdefault.jpg" /></div>

<br>
<br>
<br>
