  <br>
  <br>
  <br>

    <div class="container">
      <div class="slider_wrapper">
        <ul id="image_slider">
          <a href="/letters/letterh/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/h.gif" width="300" height="380" /></li></a>
          <a href="/letters/letteri/"><li><img src="http://www.kidzone.ws/kindergarten/vowels/s/i.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterj/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/j.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterk/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/k.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterl/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/l.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterm/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/m.gif" width="300" height="380" /></li></a>
          <a href="/letters/lettern/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/n.gif" width="300" height="380" /></li></a>
        </ul>
        <span class="nvgt" id="prev"></span>
        <span class="nvgt" id="next"></span>
      </div>
    </div>
