<br>
<br>

<div class="link-format"><%= link_to 'Back to Letters', letters_path %></div>

<div class="image-format">
  <img width="700" height="550" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR_001CChj6geEJdgiRRQwhtVeSABIi9yJWgJ_17aflYkY2EUtu
" />
</div>

<br>
<br>
<br>
