  <br>
  <br>
  <br>

    <div class="container">
      <div class="slider_wrapper">
        <ul id="image_slider">
          <a href="/letters/letterv/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/v.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterw/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/w.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterx/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/x.gif" width="300" height="380" /></li></a>
          <a href="/letters/lettery/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/y.gif" width="300" height="380" /></li></a>
          <a href="/letters/letterz/"><li><img src="http://www.kidzone.ws/images-changed/kindergarten/z.gif" width="300" height="380" /></li></a>
        </ul>
        <span class="nvgt" id="prev"></span>
        <span class="nvgt" id="next"></span>
      </div>
    </div>
