    @import 'bootstrap-sprockets';
    @import 'bootstrap';


body {
  background: url("kid-friendly-wallpaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: rgb(0, 0, 0) transparent;
  opacity: 1.0;
}

.image-format {
  text-align: center;
  opacity: 0.8;
}

.address-format {
  text-align: center;
  width: 100%;
  font-size: 20px;
  border-spacing: 100px;
}

.column-1-format {
  text-align: left;
  font-size: 30px;
}

.nav-format {
 // float: center;
  margin:0 auto;
  //align: center;
  width: 1200px;
  //position: absolute;
  //list-style: none;
}

.nav-format li {
float:left;
}

// .nav-format a {
// display:block;
// text-align:center;
// width:150px; /* fixed width */
// text-decoration:none;
// }
/*div.background
  {
  width:500px;
  height:300px;
  background:url(background.jpg) no-repeat;
  border:2px solid white;
  }*/
div.xbox
  {
  width:400px;
  height:180px;
  margin:50px 500px;
  background-color:#000000;
  border:1px solid black;
  opacity:0.7;
  }

div.xbox p
  {
  margin:30px 40px;
  font-family:"Arial Black", Gadget, sans-serif;
  font-size:15px;
  font-weight:bolder;
  color:#ffffff;
  }

//   .container{
//   width:800px;
//   height:400px;
//   padding:20px;
//   border:1px solid gray;
//   -webkit-box-sizing:border-box;
//   -moz-box-sizing:border-box;
//   box-sizing:border-box;
//   background: black;
// }
.image-slider-wrapper{
  overflow: hidden;
}
#image_slider{
  position: relative;
  overflow: hidden;
  height: 280px;
  padding:0;
  left:0;
}
#image_slider li{
  position:relative;
  max-width: 100%;
  float:left;
  list-style: none;
  left: 0;
}

.container{
  width:945px;
  height:475px;
  padding-top:38px;
  border:1px solid gray;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background: black;
  margin-bottom: 4px;
  opacity: .8;
}

.image-slider-wrapper{
  overflow: hidden;
}

#image_slider{
  position: relative;
  overflow: hidden;
  height: 380px;
  padding:0;
  left:0;
}

.image_slider_format {
  position: relative;
  overflow: hidden;
  height: 400px;
  padding:0;
  left:0;
  margin-top: 22px;
}

// #image_slider li{
//   position:relative;
//   max-width: 100%;
//   float:left;
//   list-style: none;
//   left: 0;
// }

.slider_wrapper{
  overflow: hidden;
  position:relative;
  height:400px;
  top:auto;
}
#image_slider{

  position: relative;
  height: auto;
  list-style: none;
  overflow: hidden;
  float: left;
  /*Chrom default padding for ul is 40px */
  padding:0px;
  margin:0px;
}
#image_slider li{
  position: relative;
  float: left;
}
.nvgt{
  position:absolute;
  top: 165px;
  height: 50px;
  width: 30px;
  opacity: 0.6;
}
.nvgt:hover{
  opacity: 0.9;
}
#prev{
  background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/prev.png') no-repeat center;
  left: 0px;
}
#next{
  background: #000 url('https://dl.dropboxusercontent.com/u/65639888/image/next.png') no-repeat center;
  right: 0px;
}

#slider {
  margin: 2em auto;
  width: 960px;
  overflow: hidden;
}

#slider-wrapper {
  width: 9999px;
  height: 300px;
  position: relative;
  transition: left 400ms linear;
  margin-left: 255px;
}

.slide {
  float: left;
  width: 960px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;
}

.caption {
  position: absolute;
  z-index: 100;
  bottom: -2em;
  left: 0;
  width: 47%;
  height: 2em;
  line-height: 2;
  text-align: center;
  background: rgba( 0, 0, 0, 0.6 );
  color: #fff;
  transition: bottom 500ms ease-in;
}
.caption.visible {
  bottom: 0;
}

#slider-nav {
  margin: 1em 0;
  text-align: center;
}

#slider-nav a {
  width: 2em;
  height: 2em;
  border: 1px solid #ccc;
  text-align: center;
  text-decoration: none;
  color: #000;
  display: inline-block;
  line-height: 2;
  margin-right: 0.5em;
}

#slider-nav a.current {
  border-color: #000;
}

